body{
    background: #BDBDBD;
}
/*Navbar portada*/

.navbar-cambio{
    padding: 0px;

}

/*Imagen portada*/
.img-portada {
    width: 100%;
    padding: 0px;
    position: relative;
}

img {
    width: 100%;
}


/*Titulo posicionado sobre la imagen*/
.div-titulos {  
    display: inline-block; 
    position: absolute;
    top: calc(50% - 330px) ; 
    left: 2%;
    width:98%;
   
}

.posisionamiento-titulos h1,h2 {
    font-size: 100px;
    padding: auto;
    background-color: white;
    text-align: center;
    display: inline-block;
    width: 98%;
   
}

.posisionamiento-titulos h1 {
    font-size: 150px;
}

.posisionamiento-titulos h2 {
    font-size: 90px;
}


/*Responsividad de los titulos*/

@media screen and (max-width: 1300px) {
    .div-titulos h1{
      
      font-size: 100px;
    }
} 

@media screen and (max-width: 1300px) {
    .div-titulos h2{
      
      font-size: 50px;
    }
} 



@media screen and (max-width: 900px) {
    .div-titulos h1{
      
      font-size: 80px;
    }
} 

@media screen and (max-width: 900px) {
    .div-titulos h2{
      
      font-size: 50px;
      
    }
} 

@media screen and (max-width: 700px) {
    .div-titulos h1{
      
      font-size: 30px;
    }
} 

@media screen and (max-width: 700px) {
    .div-titulos h2{
      
      font-size: 20px;
      
    }
} 

/*-----------------------------------------------------------------*/

form {
    width: 75%;
    align-items: center;
   
}

@media (max-width:700px) {
    form {
        width: 100%;
    }
}